################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectMultiThreading/bin/Debug
/ProjectMultiThreading/obj/Debug
/UnitTestMultiThreading/bin/Debug
/UnitTestMultiThreading/obj/Debug
